#main-wrap > div{min-height:450px;}

#first-wrap > div{min-height:80px;}

#header,
#footer{
    min-height:150px;
    }

/*Layout*/
#main-wrap,
#first-wrap{
overflow:hidden;
}

#leftcol{
float:left;
width:50%;
}

#rightcol{
float: right;
width: 50%}

.left{
  max-width:100px;
  float:left;
}

.right{
  max-width:100px;
  float:right;
}

.clear{
  clear:both;
}


div.mainform {width:100%;
              border:none;
              padding: 5px;
              height: 80px;

              }
#gridform {
width:50%;
float:left;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.legend {
	            padding: 5px;
	            font: 10px sans-serif;
	            background: yellow;
	            box-shadow: 2px 2px 1px #888;
            }

#charts{
height:700px;
width:100%;
overflow:auto;
}

.sep{
height: 80px;

}

.chart{
height: 695px;
width:100%;
padding-top:20px;
padding-bottom:20px;
}

#grid{
height: 700px;
width:100%;

}

span {

    text-align: center;
    display: block;
    line-height:20px;
    font-weight: bold;
    height: 20px;

}

 /* Elegant Aero */
.mystic {
    margin-left:auto;
    margin-right:auto;

    max-width: 600px;
    background: #F7F7F7;
    padding: 3px 20px 20px 2px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #888;
}
.mystic h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #F7F7F7;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
}
.mystic h1>span {
    display: block;
    font-size: 11px;
}

.mystic label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.mystic label {
    display: block;
    margin: 0px 0px 5px;
}
.mystic label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.mystic input[type="text"], .mystic input[type="email"], .mystic textarea, .mystic select {
    color: #888;
    width: 20%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
.mystic textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.mystic select {
    background: #fbfbfb url('down-arrow.png') no-repeat right;
    background: #fbfbfb url('down-arrow.png') no-repeat right;
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 20%;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.mystic .button:hover{
    background: #3EB1DD;
}
.ruler div{
display:block;
max-width:100%;
}
.sep div{
float:right;
display:block;
max-width:600px;
height:60px;
}
#first-wrap{
width:100%;
}
#leftdiv {
float:left;
height:70px;
max-width:500px;
}
#rightdiv{
float:right;
height:70px;
width:500px;
}

div.nextmain {width:100%;
              border:none;
              padding: 10px;
              height: 80px;

              }


#dater{
width:50%;
}

#nextmain select  {
    color: #888;
    width: 120px;
    padding: 0px 0px 5px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 20px;
    line-height:6px;
    margin: 2px 2px 5px 0px;
}

 #nextmain input[type="number"] {
    color: #888;
    width: 20%;
    padding: 0px 0px 5px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 20px;
    line-height:6px;
    margin: 2px 2px 5px 0px;
}

#nextmain label{
padding-left: 5px;}


