<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('userinfo.static', filename='stylesheets/w2ui-1.4.3.min.css') }}" />

    <script type="text/javascript" src="{{ url_for('userinfo.static', filename='js/jquery-1.11.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('userinfo.static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('userinfo.static', filename='js/w2ui-1.4.3.min.js') }}"></script>


    <link rel='stylesheet' type='text/css' href="{{ url_for('userinfo.static', filename='stylesheets/user.css') }}"/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('userinfo.static', filename='stylesheets/jquery-ui.css') }}"/>



</head>
<body>

{% block content %}{% endblock %}


</body>