<!DOCTYPE html>
<html>
<head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='//cdn.datatables.net/1.10.0/js/jquery.dataTables.js'></script>


    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src='//cdn.datatables.net/1.10.0/js/jquery.dataTables.js'></script>
    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.3.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.3.min.js"></script>


    <link rel='stylesheet' type='text/css' href='//cdn.datatables.net/1.10.0/css/jquery.dataTables.css'/>
    <link rel='stylesheet' type='text/css' href="{{ url_for('userinfo.static', filename='stylesheets/user.css') }}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


</head>
<body>

{% block content %}{% endblock %}
<div class="flash">
  {% for message in get_flashed_messages()%}
    {{ message }}
  {% endfor %}
</div>

</body>