<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.4.min.css" />
    <script type="text/javascript" src="{{ url_for('touchbiz.static', filename='js/jquery-1.12.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('touchbiz.static', filename='js/salesrep.js') }}"></script>
    <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.4.min.js"></script>


</head>
<body>
    {% block content %}{% endblock %}

</body>

</html>
