<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel='stylesheet' type='text/css' href="{{ url_for('touchbiz.static', filename='stylesheets/touchbiz.css') }}"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

</head>
<body>
<div id='slide1' class='row-fluid'>
  <div class='row'>
    <div class="col-md-4"></div>
    <label class="col-md-1 text-right">Owner:</label>
    <div data-key="owner" class="col-md-1 text-left"></div>
    <div class="col-md-6"></div>
  </div>
  <div class='row'>
    <div class="col-md-4"></div>
    <label class="col-md-1 text-right">Status:</label>
    <div data-key="status" class="col-md-1 text-left"></div>
    <div class="col-md-6"></div>
  </div>
  <div class='row'>
    <div class="col-md-4"></div>
    <label class="col-md-1 text-right disabled">Tier:</label>
    <div data-key="tier" class="col-md-1 text-left"></div>
    <div class="col-md-6"></div>
  </div>
  <div class='row'>
    <div class="col-md-4"></div>
    <label class="col-md-1 text-right">Volume:</label>
    <div data-key="volume" class="col-md-1 text-left"></div>
    <div class="col-md-6"></div>
  </div>
  <div class='row'>
    <div class="col-md-4"></div>
    <label class="col-md-1 text-right">Retention:</label>
    <div data-key="retention" class="col-md-1 text-left"></div>
    <div class="col-md-6"></div>
  </div>
  <div class='row'>
    <div class="col-md-4"></div>
    <label class="col-md-1 text-right">Bill Period:</label>
    <div data-key="period" class="col-md-1 text-left"></div>
    <div class="col-md-6"></div>
  </div>
  <div class='row'>
    <div class="col-md-4"></div>
    <label class="col-md-1 text-right">Sub Rate:</label>
    <div data-key="rate" class="col-md-1 text-left"></div>
    <div class="col-md-6"></div>
  </div>
  <div class='row'></div>
  <div class='row'>
    <div class="col-md-4"></div>
    <div class='col-md-2 text-left'>
        <button id="touchbiz-manipulator" class="btn btn-info btn-block text-center">Touch This Account</button>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>

<div id='slide2' class='row-fluid'>
    <form class="form-horizontal touchbiz-form">
    <fieldset>
    <!-- Text input-->
    <div class="touchbiz-form form-group">
    <label class="col-md-4 control-label" for="tier">Tier</label>  
    <div class="col-md-4">
    <input id="tier" name="tier" data-key='tier' type="text" placeholder="tier" class="form-control input-sm">
        
    </div>
    </div>

    <!-- Appended Input-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="volume">Volume</label>
    <div class="col-md-4">
        <div class="input-group">
        <input id="volume" name="volume" data-key='volume' class="form-control input-sm" placeholder="volume" type="text">
        <span class="input-group-addon">GB</span>
        </div>
        
    </div>
    </div>
    <!-- Appended Input-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="retention">Retention</label>
    <div class="col-md-4">
        <div class="input-group">
        <input id="retention" name="retention" data-key='retention' class="form-control input-sm" placeholder="retention" type="text">
        <span class="input-group-addon">Days</span>
        </div>
        
    </div>
    </div>
    <!-- Select Basic -->
    <div class="form-group">
    <label class="col-md-4 control-label" for="billing_period">Billing Period</label>
    <div class="col-md-4">
        <select id="billing_period" name="billing_period" data-key='period' class="form-control input-sm">
        <option value="monthly">Monthly</option>
        <option value="annual-upfront">Annual Upfront</option>
        <option value="annual-monthly">Annual Monthly</option>
        <option value="annual-quarterly">Annual Quarterly</option>
        </select>
    </div>
    </div>

    <!-- Appended Input-->
    <div class="form-group">
    <label class="col-md-4 control-label" for="sub_rate">Sub Rate</label>
    <div class="col-md-4">
        <div class="input-group">
        <input id="sub_rate" name="sub_rate" data-key='rate' class="form-control input-sm" placeholder="$$$" type="text">
        <span class="input-group-addon">.00</span>
        </div>
        
    </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
    <label class="col-md-4 control-label" for="save"></label>
    <div class="col-md-8">
        <button id="save" name="save" class="btn btn-info btn-xs">Save</button>
        <button id="cancel" name="cancel" class="btn btn-inverse btn-xs">Cancel</button>
    </div>
    </div>

    </fieldset>
        
    </form>
</div>
</body>
<script type='text/javascript'>
$(document).ready( function() {
(function ($, document) {


    var form = $('.touchbiz-form') ;
    var failure = $('<div class="span4 offset4 text-center"><span>Failed!</span></div>' )
    var success = $('<div class="span4 offset4 text-center"><span>Success!</span></div>' )

    $('button#save').click( function(e) {
        e.preventDefault() ;
        var button = $(this);

        button.prop('disabled', true);
        $.post( "{{new_url}}", form.serialize(), function( result ) {
            $('button#touchbiz-manipulator').html( 'Edit Touchbiz' );
            setData( '#slide1', result.data.new ) ;
            toggleSlides();
            button.prop('disabled', false);
        })
        .fail( function() {
            $('form.touchbiz-form').before( failure );
        });

    });
    
    $('button#cancel').click( function(e) {
        e.preventDefault() ;
        // revert form to initial look
        toggleSlides() ;
    });

    $('button#touchbiz-manipulator' ).click( function(e) {
        toggleSlides() ;
    }) ;

    function toggleSlides() {
        var slide1 = $('#slide1')


        if( slide1.is(':visible') ) {
            $('#slide1').hide( 0 ) ;
            $('#slide2').show( 0 ) ;
        } else {
            $('#slide2').hide( 0 ) ;
            $('#slide1').show( 0 ) ;
        }
    }

    function setData( parentid, data ) {
        for( key in data ) {
            $( parentid + ' [data-key="' + key + '"]' ).html( data[key] ) ;
        }
    }

    // Do the initial data setting
    $('#slide2').hide(0);
    setData( '#slide1', {{data|tojson|safe }} ) ;

})(jQuery, document); 
});
</script>
</html>
