{% extends 'subscription/base.html' %}
{% block content %}
<table id='sub_table' class='display'></table>
<script>
$(document).ready(function() {
    $('#sub_table').dataTable( {
        "searching": false,
        "paging": false,
        "scrollY": "150px", 
        "order": [0, 'desc'],
        "data": {{data|tojson|safe}},
        "bInfo": false,
        "columns": [{ 
            "title": "Date", 
            "data" : "Date", 
        },{ 
            "title": "Rate", 
            "data" : "Rate",
            "render": function( data, type, row, meta ) { 
                return "$" + Number( data ).toFixed( 2 ) + "/mo" ;
            }
        },{
            "title": "Tier", 
            "data" : "Tier" 
        },{ 
            "title": "Volume (GB)", 
            "data" : "Volume",
            "render": function( data, type, row, meta ) { 
                return Number( data ).toFixed( 2 ) ;
            }
        },{
            "title": "Retention", 
            "data" : "Retention",
            "render": function( data, type, row, meta ) { 
                return data + " days" ;
            }
        }
        ]
    });
});
</script>
{% endblock %}
