{% extends 'tracer/displaychart.html' %}
{% block header %}
<div id="mainform">
<form class="style9" id="style9">
 <ul>
    <li>
            <input id="fdate" name="fdate" type="text" placeholder="From Date" class="style10 field-split align-left">

            <input id="tdate" name="tdate" type="text" placeholder="End Date" class="style10 field-split align-right" >
    </li>
    <li>

            <input id="cluster" name="cluster" type="text" placeholder="Cluster" class="style10 field-split align-left" >

            <select id="tstype" class="style10 field-split align-right">
              <option value="d">Daily</option>
              <option value="w">Weekly</option>
              <option value="m">Monthly</option>
            </select>
    </li>


  </ul>
<div class="action">
    <input type="submit" value="Update">
</div>

</form>
</div>
{% endblock %}

{% block rightcol %}
<div id="charts">
<div id="graph" >
<span>Ninty Five Percentile</span>

  <svg id="visualisation"  class="chart"></svg>
</div>

<div id="graph1"  >
    <span>Ninty Eight Percentile</span>
<svg id="visualisation1"  class="chart"></svg>
</div>

<div id="graph2"  >
    <span>Ninty Nine Percentile</span>
   <svg id="visualisation2"  class="chart"></svg>
</div>

    <div id="graph3"  >
    <span>Less Than 30</span>
   <svg id="visualisation3"  class="chart"></svg>
</div>
</div>
{% endblock %}
{% block leftcol %}
<div id="grid">

</div>

<script>
    <!--AnyTime.picker( "date",{format:"%Y-%m-%d %T"} );-->
    $("#fdate").datepicker({
                 dateFormat: "yy-mm-dd"
                });
    $("#tdate").datepicker({
                 dateFormat: "yy-mm-dd"
                });

</script>
{% endblock %}