{% extends 'tracer/displaychart.html' %}
{% block header %}
<div id="mainform">
<div id="gridform" >
<form  class="mystic" id="main" >

        <p class 'formfield'>
        <label for="datesel"><span>Date: </span> </label>
            <select id="datesel" name="datesel">
                <option value="last1h">Last 1 hour</option>
                <option value="last1d">Last 1 day</option>
                <option value="last1w">Last 1 week</option>
                <option value="custom">Custom Range</option>
            </select>



            <input id="dater" name="dater" type="text" placeholder="Date Range" class="cstm">
            <i class="glyphicon glyphicon-calendar fa fa-calendar cstm"></i>&nbsp;
              <b class="caret cstm"></b>
            </p>

            <p class 'formfield'>
                <label for="cluster">
                <span>Cluster(e.g. C02S): </span>
                <input id="cluster" name="cluster" type="text" placeholder="All"  >
                </label>

                <label id="checkbox">
                Hot ?:
                <input id="isithot" name="isithot" type="checkbox"  placeholder="All" checked="checked" >
                </label>
            </p>








<label>
    <span>&nbsp;</span>
    <input type="button" id="submit" class='button' value="Update">
</label>

</form>
</div>
</div>
{% endblock %}

{% block rightcol %}
<div id="charts">
<div id="graph4"  >
  <span id="avrg">Percent Less Than 30 secs - All Clusters</span>
   <svg id="visualisation4"  class="chart"></svg>
</div>
<div id="graph" >

        <span id="lt30">Percent where tracer was less than 30 seconds</span>

  <svg id="visualisation"  class="chart"></svg>
</div>

<div id="graph1" >
    <span>Tracer latency seconds to 95th Percentile</span>

<svg id="visualisation1"  class="chart"></svg>
</div>

<div id="graph2"  >
     <span>Tracer latency seconds to 98th Percentile</span>

   <svg id="visualisation2"  class="chart"></svg>
</div>

<div id="graph3"  >
  <span>Tracer latency seconds to 99th Percentile</span>
   <svg id="visualisation3"  class="chart"></svg>
</div>
</div>
{% endblock %}

{% block leftcol %}
<span class="clustr"><A href="/cluster/">Cluster To Subdomain</A> </span>
<div id="grid">

</div>

<script>
    var startDt;
    var EndDt;
    var period;
    var tstype;
    var datepref;
    var GWIDTH = 700;
    var GHEIGHT = 690;
    var GPADDING = 70;
    var GTOP = 20;
    var GBOTTOM = 20;
    var GRIGHT = 60;
    var GLEFT = 100;
    var isithot;


    isithot = $('#isithot').is(':checked');
    if (isithot)
        {
        document.getElementById("avrg").textContent="Percent Less Than 30 secs - All Clusters";
        document.getElementById("lt30").textContent="Percent where tracer was less than 30 seconds";
        }
    else
        {
        document.getElementById("avrg").textContent="Percent Less Than 2 secs - All Clusters";
        document.getElementById("lt30").textContent="Percent where tracer was less than 2 seconds";
       }

    $("#main").formcache();

</script>
{% endblock %}