<!DOCTYPE html>
<html>
<head>

   <title>tracer latency data</title>
   <H3>tracer latency data </H3>
    <script type="text/javascript" src="{{ url_for('userinfo.static', filename='js/jquery-1.11.3.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('userinfo.static', filename='js/jquery-ui.js') }}"></script>
    <link rel='stylesheet' type='text/css' href="{{ url_for('userinfo.static', filename='stylesheets/jquery-ui.css') }}"/>





    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/d3.min.js') }}"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>


    <!--Grid specific JS Library-->
     <script type="text/javascript" src="{{ url_for('userinfo.static', filename='js/w2ui-1.4.3.min.js') }}"></script>
     <link rel="stylesheet" type="text/css" href="{{ url_for('userinfo.static', filename='stylesheets/w2ui-1.4.3.min.css') }}" />

    <!--Saving form state-->

    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/garlic.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/formcache.min.js') }}"></script>





    <!--<script type="text/javascript" src="{{ url_for('touchbiz.static', filename='js/anytime512.min.js') }}"></script>
    <link rel='stylesheet' type='text/css' href="{{ url_for('touchbiz.static', filename='stylesheets/anytime512.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/index.js') }}"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



    <!-- Include Required Prerequisites -->

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>



    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


     <!-- Program specific JS Script library -->
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/w2grid.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/datelogic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/ajaxCallChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/d3chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/d3chart1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/d3chart2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/d3chart3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/d3chart4.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/formatXaxis.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('tracer.static', filename='js/AllSubRoutines.js') }}"></script>
    <!--Program specific Stylesheets--->
    <link rel='stylesheet' type='text/css' href="{{ url_for('tracer.static', filename='stylesheets/tracer.css') }}"/>

</head>

<body >

{% block main %}{% endblock %}

</body>