#sub_table {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#sub_table td {
    text-align: center;
}

#slide1 {
    margin-top:10px;
}

.container {
  width: 800px !important;
}


